<div>
	<img width="300px" src="http://fc09.deviantart.net/fs70/f/2010/110/1/9/lupin_III_by_reijr.jpg" />
	<a href="http://reijr.deviantart.com/">Tomado de aquí</a>
</div>
<div>
	<h2>Developed by</h2>
	<h3>Inocencio del Castillo Suárez</h3>
</div>
<div>
	<iframe src="https://vine.co/v/Ol5al7dWwVJ/embed/simple" width="300" height="300" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
</div>


