<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Quiz!</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/author.css' />
		<link rel='stylesheet' href='/stylesheets/form.css' />
	</head>

	<body>
		<header>
			<p>Quiz!</p>
		</header>

		<nav>
			<ul>
				<a href="/"><li>Ir a la página de inicio</li></a>
				<a href="/quizes"><li>Ir a Quizes!</li></a>
				<a href="/author"><li>Créditos</li></a>
			</ul>
		</nav>

		<section id="section_body">
			<% if (errors.length) { %>
				<span id="ErrorMessage">
					<p> Corregir errores: </p>
					<% for (var i in errors) { %>
						<span> <%= errors[i].message %> </span>
						<br>
					<% } %>
				</span>
			<% } %>

			<%- body %>
		</section>

		<footer>
			Descubre los fuentes del proyecto <a href="https://github.com/chenchocs/quiz">en nuestra página en github</a>
		</footer>
	</body>
</html>
