<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<header class="main">
			Header
		</header>

		<nav>
			Navigation
		</nav>

		<section>
			<%- body %>
		</section>

		<footer>
			Footer
		</footer>
	</body>
</html>
