<div class="form-table">
	<p class="form-row">
		<label class="form-cell" for="preg">Pregunta</label>
		<input class="form-cell" type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" value="<%= quiz.pregunta %>" />
	</p>
	<p class="form-row">
		<label class="form-cell" for="resp">Respuesta</label>
		<input class="form-cell" type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" value="<%= quiz.respuesta %>" />
	</p>

	<p class="form-row">
		<a  class="form-cell" href="/quizes">
			<button type="button">Cancelar</button>
		</a>
		<input  class="form-cell" type="submit" value="Salvar" />
	</p>
</div>

