<p>Búsqueda de preguntas:</p>

<form action="/quizes">
	<input type="search" name="search" placeholder="Términos a buscar" />
	<input type="submit" value ="Buscar" />
</form>

<hr>

<p>Lista de preguntas:</p>

<ul class="form-table">
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<li class="form-row">
			<a class="form-cell" href="/quizes/<%= quizes[i].id %>">
				<%= quizes[i].pregunta %>
			</a>
			<a class="form-cell" href="/quizes/<%= quizes[i].id %>/edit">
				<button>editar</button>
			</a>
		</li>
	<% } %>
</ul>

<a href="/quizes/new"><button type="button">Añadir una pregunta nueva</button></a>


