<p>Búsqueda de preguntas:</p>

<form action="/quizes">
	<input type="search" name="search" placeholder="Términos a buscar" />
	<input type="submit" value ="Buscar" />
</form>

<hr>

<p>Lista de preguntas:</p>

<ul>
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<li>
			<a href="/quizes/<%= quizes[i].id %>">
				<%= quizes[i].pregunta %>
			</a>
		</li>
	<% } %>
</ul>



